html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

%flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-align{
  display: flex;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %flex;
  flex-direction: column;
  font-family: sans-serif;
  background-image: url('fond.png');
  background-size: cover;
  background-position: center;
  color: rgb(79, 66, 255);
 
}

@media screen and (max-width: 700px) {
  body {
    background-image: url('fond-tel.jpg');
    color: red
  }
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 1rem;
  margin: 3rem auto;
}

.case{
  @extend %flex;
  border: 1px solid rgb(0, 47, 255);
  border-radius: 5px;
  cursor: pointer;
  font-size: 3rem;
  color: rgb(255, 96, 96);
  box-shadow: 0px 0px 15px blue;
  text-shadow: 0px 0px 15px rgb(255, 0, 0);
}

@media screen and (max-width: 700px) {
  .case {
    color: rgb(253, 51, 51);
  }
}

p{ 
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p#tour {
  color: rgb(0, 255, 242);
}

h1{
  color: white;
  text-shadow: 3px 3px 2px #4400ff;
   margin-top: 10px;
   font-style: italic;
   font-weight: 100;
   text-align: center;
}

#game{
  z-index: 1;
}

#voile{
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  position: absolute;
  opacity: 0.5;
}

#form{
  padding: 15px;
  z-index: 3;
  @extend %flex-align;
  width: 500px;
  height: 200px;
  background: rgba(251, 251, 251, 0.841);
  border-radius: 5px;
  position: absolute;
}

.cadre{
  border-radius: 8px;
  height: 25px;
  font-size: 1.2em;
  text-align: center;
}

.txt{
  margin: auto;
  @extend %flex-align;
}

#button{
  padding: 5px;
  color: #4400ff;
  font-size: 1.2em;
  border-radius: 8px;
  float: right;
  align-self: flex-end;
}