%flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 2rem;
  background-image: url('fond.png');
  background-size: cover;
  background-position: center;
  color: rgb(79, 66, 255);
}

@media screen and (max-width: 700px) {
  body {
    background-image: url('fond-tel.jpg');
  }
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 1rem;
  margin: 3rem auto;
}

.case{
  @extend %flex;
  border: 1px solid rgb(255, 0, 179);
  border-radius: 5px;
  cursor: pointer;
  font-size: 3rem;
  color: red
}

@media screen and (max-width: 700px) {
  .case {
    color: rgb(253, 51, 51);
  }
}

p{ 
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p:first-of-type {
  color: rgb(0, 255, 242);
}

h1{
  color: white;
  text-shadow: 3px 3px 2px rgb(68, 0, 255);
   margin-top: 10px;
   font-style: italic;
   font-weight: 100;
}